body{
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    background-color:rgb(224, 218, 218) ;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
    color: rgb(71, 9, 129);
}
table{
    width:600px;
    margin: 0 auto;
    border: 2px solid darkorchid; 
}
thead{
    background-color: pink;
}
td{
    border:  1px solid darkorchid; ;
}
.Code{
    font-family: monospace;
    background-color: beige;
}